<link rel="stylesheet" href="../assets/css/login.css">
    
<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Login content  -->
<div class="bg">
        <div class="form-container animated fadeIn delay-.2s">
            <form class="sign-up-form">
                <input type="email" class="form-input" id="email" placeholder="Enter Email" required>
                <input type="password" class="form-input" id="password" placeholder="Enter Password">
                <p>Get news ?</p>
                <label>No</label> 
                <input type="checkbox">
                <label>Yes</label>
                <button type="submit" class="form-btn animated bounceIn delay-1s"><a href="../index.html">Submit</a></button>
            </form>
    
            
            <div class="header">
                <h1 class="animated bounceInLeft delay-.8s">Welcome to Login</h1>
            </div>
            <!-- <div class="x-btn">&#10005;</div> -->
        
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="../js/login.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/popper.js/dist/popper.min.js"></script>