
    
<!-- Navbar -->
<app-navbar></app-navbar>

<!-- This is background image with details -->
    <div class="bg">
        <div class="content">
            <h2 class="animated bounceInLeft delay-0.8s">Developer connector</h2>
            <p class = 'animated bounceInLeft delay-1s'>Create Developer Portfolio/Profile, Share Posts and Get Help From the Developers</p>
            <div class="but">
                <button type="button" class="btn btn-outline-primary animated bounceIn infinite delay-2s"><a href="./pages/register.html">Sign Up</a></button>
                <button type="button" class="btn btn-outline-primary animated bounceIn infinite delay-2s"><a href="./pages/login.html">Login</a></button>
            </div>
        </div>
    </div>
    <script src="./js/nav.js"></script>
    <script src="./js/main.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/popper.js/dist/popper.min.js"></script>