<link rel="stylesheet" href="../assets/css/developer.css">

<app-navbar></app-navbar>
    <!-- Profile Information -->
    <div class="container">
        <h2  class="animated bounceInLeft delay-0.2s">Developers</h2>
        <p class="animated zoomInUp delay-0.9s"><i class="far fa-window-maximize"></i>Browse and Connect With Developers</p>
      </div>
  
      <!-- Card Content goes here -->
      <div class="bg">
      <div class="cards-wrapper">
  
        <!--http://biabeniamin.go.ro/GhidImages/-->
                <div class="card" *ngFor="let user of candidateService.candidates; let i = index">
                        <img src="../assets/images/img-top2.jpeg" alt="img" class="img-top">
                        <img src="http://biabeniamin.go.ro/GhidImages/{{user.candidateId}}.jpg" alt="image" class="profile-image">
                        <h1 class="fullname">{{user.name}}</h1>
                        <p class="job">{{user.role}}</p>
                        <p class="about-me">{{user.description}}</p>
                        <button class="button" (click)="explore(user.candidateId)">Explore Me</button>
                        <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                </div>
  
    </div>
  </div>
  
      <script src="../assets/js/developer.js"></script>
      <script src="../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="../assets/node_modules/jquery/dist/jquery.min.js"></script>
      <script src="../assets/node_modules/popper.js/dist/popper.min.js"></script>